body {
  background-color: #ffffff; /* Cor de fundo principal (branco) */
  color: #333; /* Cor do texto (cinza escuro) */
  font-family: 'Arial', sans-serif; /* Adicionar uma fonte padrão */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0; /* Remover margens padrão do corpo da página */
}

.card {
  background-color: #f8f9fa; /* Cor de fundo do cartão (cinza claro) */
  padding: 20px; /* Adicionar um preenchimento para melhorar a aparência */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionar uma sombra sutil */
}

h1 {
  color: #333; /* Cor do título (cinza escuro) */
}

form {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 10px;
}

button {
  background-color: #007bff; /* Cor de fundo do botão (azul) */
  border: none;
  color: #fff; /* Adicionar cor ao texto do botão para melhor contraste */
}

button:hover {
  background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}