/* styles.css */
body {
  background-color: #ffffff; /* Cor de fundo principal (branco) */
  color: #333; /* Cor do texto (cinza escuro) */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: #f8f9fa; /* Cor de fundo do cartão (cinza claro) */
}

h1 {
  color: #333; /* Cor do título (cinza escuro) */
}

form {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 10px;
}

button {
  background-color: #007bff; /* Cor de fundo do botão (azul) */
  border: none;
}

button:hover {
  background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}